<!DOCTYPE html>
<html>
<head>
    <title>My First OAuth2 App</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" type="application/javascript"></script>
</head>
<body>
	<div id="info">
        nothing
    </div>
	<a id="login" style="display: block;" href="<%= auth_link %>">Identify Yourself</a>
    <script>
		window.onload = () => {
            sessionStorage = window.sessionStorage;
            const urlParams = new URLSearchParams(window.location.search);
            const token_type = urlParams.get('token_type') || sessionStorage.getItem('token_type');
            const access_token = urlParams.get('access_token') || sessionStorage.getItem('access_token');
            console.log(token_type, ' ', access_token);
            if(token_type && access_token){
                sessionStorage.setItem('token_type', token_type);
                sessionStorage.setItem('access_token', access_token);
                axios.get('https://discord.com/api/users/@me',
                {
                    headers:{
                        Authorization: `${token_type} ${access_token}`
                    }
                }).then((res)=>{
                    const { data } = res;
                    console.log(data);
                    document.getElementById('info').innerHTML = JSON.stringify(data);
                });
            }
		}
	</script>
</body>
</html>